<div align="center">
    <mat-card class=containergrafico>
        <mat-card-title align="left">Prova statica 1</mat-card-title>
        <mat-card-content>
            <highcharts-chart
                [Highcharts] = "highcharts1" 
                [options] = "chartOptions1">
            </highcharts-chart>
        </mat-card-content>
    </mat-card>
    <mat-card class=containergrafico>
        <mat-card-title align="left">Prova statica 2</mat-card-title>
        <mat-card-content>
            <highcharts-chart
                [Highcharts] = "highcharts2" 
                [options] = "chartOptions2">
            </highcharts-chart>
        </mat-card-content>
        
    </mat-card>
</div>