<!--inizio parte storico (DA FINIRE OVVIAMENTE...)-->
<table>
    <tr style="background-color: aquamarine;">
    <th>TABELLA</th>
    <th>LUNEDI</th>
    <th>MARTEDI</th>
    <th>MERCOLEDI</th>
    <th>GIOVEDI</th>
    <th>VENERDI</th>
    <th>SABATO</th>
    <th>DOMENICA</th>
    </tr>
    <tr>
    <th style="background-color: aquamarine;">Prova 1</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <th style="background-color: aquamarine;">Prova 2</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
    <th style="background-color: aquamarine;">Prova 3</th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
</table> 
