.image-logo {
  max-width: 105px;
  max-height: 105px;
  margin: 25px auto 20px;
}

.container {
  width: 100vw;
  height: 100vh;
}

.sidenav {
  padding: 1px;
}
.page-wrapper {
  max-width: 100%;
  margin: 0;
  padding: 1.5em;
}
