.containergrafico{
    margin-top: 20px;
    margin-bottom: 10px;
    height: auto;
    width: 1000px;
    box-align: center;
    border: 1px solid gray;
}

.container {
    width: 97vw;
    height: 100vh;
}
  
.sidenav {
    padding: 0.8em;
}

.page-wrapper {
    max-width: 100%;
}
