<!--creazione del menu a tendina per le operazioni generali della pagina table-->
<div style="text-align: right;">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>
            <!--TODO-->
            <span>Impostazioni tabelle</span>
        </button>
        <button mat-menu-item>
            <!--TODO-->
            <span>Selezione tabelle</span>
        </button>
    </mat-menu>
</div>

<div align="center" class=container>
    <h1>Prova 1</h1>
    <highcharts-chart 
       [Highcharts] = "highcharts1" 
       [options] = "chartOptions1">
    </highcharts-chart> 
    <hr>
</div>
<div align="center" class=container>  
    <h1>Prova 2</h1>
    <highcharts-chart
       [Highcharts] = "highcharts2" 
       [options] = "chartOptions2">
    </highcharts-chart>
    <hr>
</div>