<!--creazione del menu a tendina per le operazioni generali della pagina table-->
<div style="text-align: right;">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>settings</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>
            <!--TODO-->
            <span>Impostazioni tabelle</span>
        </button>
        <button mat-menu-item>
            <!--TODO-->
            <span>Visualizzazione tabelle</span>
        </button>
    </mat-menu>
</div>

